#teachersPage {
    min-height: 600px;
    position: relative;

    .table {
        overflow-x: auto;
    }

    .teachers {
        margin-top: 15px;

        .options {
            text-align: center;

        }

        .deleted {
            //background: repeating-linear-gradient(45deg,#606dbc,#606dbc 10px,#465298 10px,#465298 20px)
            background: repeating-linear-gradient(45deg, #ff8686, #fc6959 10px, #ff362f 10px, #ff0500 20px)
        }

        .badge {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    .option-title {
        display: inline-block;
        padding-left: 10px;
    }
}

//#mySelect {
//    background-image: none !important;
//}
